.row
	.column.medium-12
		.row
			.column.medium-8
				%h4= link_to category.name, category
			.column.medium-4
				Threads:
				= category.thread_count
				%br/
				Posts:
				= category.post_count
		- if category.thread_count > 0
			.row
				.column.medium-12
					Last thread:
					= link_to category.last_thread.title, category.last_thread